# Data Science Notebook

## Introduction
This notebook provides an overview of data science languages, libraries, and tools, along with examples of arithmetic expressions and conversions.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Java

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool         | Description                           |
|--------------|---------------------------------------|
| Jupyter      | Open-source web application for notebooks |
| GitHub       | Version control and collaboration platform |
| RStudio      | Integrated development environment for R |
| Anaconda     | Package manager and environment management system |
| Tableau      | Data visualization software           |

## Arithmetic Expression Examples
In this section, we will demonstrate basic arithmetic operations.

In [2]:
# Example of multiplying and adding numbers
a = 5
b = 10
product = a * b
sum_result = a + b

product, sum_result

(50, 15)

In [3]:
# Convert minutes to hours
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

convert_minutes_to_hours(120)  # Example: Convert 120 minutes to hours

2.0

## Objectives
- To understand various data science languages and libraries.
- To learn about tools used in data science.
- To practice basic arithmetic operations in Python.
- To convert time units using Python functions.

## Author
Ridwan Adedamola Adeniyi